<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailures="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
>
    <testsuites>
        <testsuite name="LoremPixel Unit Tests">
            <directory>./tests/app/LoremPixel/</directory>
        </testsuite>
    </testsuites>
</phpunit>
